body {
    margin: 0;
    background-color: #ffffd2;
    
}

#site-header__video {
    width: 100%;
}

.site-header__title {
    color:#aa96da;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
}

.site-header__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: center; 
}

.site-header__text--blue {
    color: #a8d8ea;
    }

.site-header__text--violet {
    color:#aa96da;
    }

.wrapper {
        display: flex;
        margin: 0 auto;
        max-width: 700px;
        flex-wrap: wrap;
    }


.card {
    display: flex;
    flex-direction: column;
    background-color: pink;
    margin: 20px;
    padding: 20px;
    flex:1;
    
}

.card__title, 
.card__img, 
.card__link, 
.card__price {
    align-self: center;
}

.card__title {
    color:#52616b;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.card__img {
    width: 200px;
    
}

.card__list {
    background-color:#ffffd2;
    color: #7c7575;
}

.price {
    color:#52616b;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

.price__del {
    background-color: #fbb;
}

.price__ins {
    text-decoration: none;
    display: inline-block;
    transform: rotate(-7deg);
}

.card__btn {
    background-color: #aa96da;
    color: #ffffd2;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    font-size: 30px;
    align-self: center;
}

@media all and (max-width:800px) {
    .site-header__text {
        font-size: 20px;
        margin: 5px 20px;
    }
}

@media all and (max-width:500px) {
    .site-header__text {
        font-size: 15px;
    }
}